<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="flightbooking" parallel="tests" verbose="1" >
   <listeners>
       <listener class-name="helper.TestListener"></listener>
   </listeners>

    <test name="flightbook1" >
     <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.tour.test.UserRegistrationTest" />
        </classes>
    </test>
    <test name="flightbook2" >
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.tour.test.UserRegistrationTest" />
        </classes>
    </test>
</suite>
